<footer id="page-footer">
    <div class="inner">
        <aside id="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <article>
                            <h3>Hakkımızda </h3>
                            <p>
                                Türkiye’nin ilan ve alışverişte ilk adresi Estate. 
                                Bir e-ticaret sitesi olmanın ötesinde, ülkemizde e-ticaretin doğuşundan bugüne olan sürecin de temsilci olan Estate, 
                                Türkiye’nin en büyük elektronik ticaret ve ilan platformu olma özelliğini taşıyor.
                            </p>
                            <hr>
                            <a href="#" class="link-arrow">Read More</a>
                        </article>
                    </div><!-- /.col-sm-3 -->
                    <div class="col-md-3 col-sm-3">
                        <article>
                            <h3>En çok ziyaret Edilen Ürünler</h3>
                           
                        </article>
                    </div><!-- /.col-sm-3 -->
                    <div class="col-md-3 col-sm-3">
                        <article>
                            <h3>Contact</h3>
                            <address>
                                <strong>Erciyes Üniversitesi</strong><br>
                                Yenidoğan Mahallesi Turhan Baytop Sokak No:1 <br>
                                38280 TALAS / KAYSERİ
                            </address>
                            05074115069<br>
                            <a href="#">estate@company.comm</a>
                        </article>
                    </div><!-- /.col-sm-3 -->
                    <div class="col-md-3 col-sm-3">
                        <article>
                            <h3>Useful Links</h3>
                            <ul class="list-unstyled list-links">
                                <li><a href="/Asset/Index">Tüm Ürünler</a></li>
                                <li><a href="#">Gizlilik İlkeleri</a></li>
                                <li><a href="/User/SignIn">Giriş </a></li>
                                <li><a href="/User/Register">Kayıt Ol</a></li>
                                <li><a href="#">Kurallar ve Durumlar</a></li>
                            </ul>
                        </article>
                    </div><!-- /.col-sm-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </aside><!-- /#footer-main -->
        <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
        <aside id="footer-copyright">
            <div class="container">
                <span>Copyright © 2013. Tüm Hakları Saklıdır.</span>
                <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
            </div>
        </aside>
    </div><!-- /.inner -->
</footer>
