
@{
    ViewBag.Title = "SignIn";
}


<div id="page-content">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Sign In</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->

    <div class="container">
        <header><h1>Giriş Yap</h1></header>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form role="form" id="form-create-account" method="post">
                    @using (@Html.BeginForm("SingIn", "User", FormMethod.Post, new { @id = "form-create-account", enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label for="form-create-account-email">Eposta:</label>
                            <input type="email" class="form-control" id="form-create-account-email" name="Mail" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="form-create-account-password">Şifre:</label>
                            <input type="password" class="form-control" name="Pw" id="form-create-account-password" required>
                        </div><!-- /.form-group -->
                        <div class="form-group clearfix">
                            <button type="submit" class="btn pull-right btn-default" id="account-submit">Giriş</button>
                        </div><!-- /.form-group -->
                    }
                </form>
                <hr>
                @*<div class="center"><a href="#">Şifremi Hatırlamıyorum</a></div>*@
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>


